$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-home: "\e900";
$icon-star-empty: "\e9d7";
$icon-play2: "\ea15";
$icon-arrow-right2: "\ea3c";
$icon-ctrl1: "\ea51";
$icon-ctrl: "\ea50";
$icon-facebook: "\ea90";
$icon-instagram: "\1f326";
$icon-twitter: "\ea96";
$icon-dribbble: "\eaa7";

